<!-- Navbar -->
<!-- Page Content Starts -->

<% for(let i = 0; i < USERS.length; i++) { %>
    <div>
        <p><%= USERS[i].firstName%> <%= USERS[i].lastName %> <%= USERS[i].year %> <%= USERS[i].email %> <%= USERS[i].githubUrl %> <%= USERS[i].linkedinUrl %> <%= USERS[i].phone %> <%= USERS[i].bio %> <%= USERS[i].photo %></p>

        <h4>Current Employer</h4>
        <p><%=ORG[i].name</p>

        <h4>Previous Employers</h4>
        <p><%=ORG[i].name</p>

        <h4>Interviewed With</h4>
        <p><%=ORG[i].name</p>
    </div>
<% } %>

<!-- <div class="grad-card-main-container">
    <div class="grad-card-headshot-contacts-container">
        <div class="grad-card-headshot">
            
        </div>
        <div>
            <h4>Lois Simpson</h4>
            <h4>CodeSquad Cohort 2020</h4>
            <p>lsimpson@gmail.com, github.com/lsimpson, <br>www.linkedin.com/in/lois-simpson, <br>617-283-4555</p>
            
        </div>
    </div>
        <div class="codesquad-logo-container">
        <h4>Bio</h4>
        <p>Breif Description of what they're doing in the coding world. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
        
        <h4>Current Employer</h4>
        <p>Company Name</p>

        <h4>Previous Employers</h4>
        <ul>
            <li>Company Names</li>
            <li>Company Names</li>
        </ul>
        <h4>Interviewed With</h4>
        <ul>
            <li>Company Names</li>
            <li>Company Names</li>
        </ul>
    </div>
</div>
 -->
