<!-- The counter variable will increase by one each time the forEach loop below it iterates. -->
<!-- The number represented by the counter variable will be usefull in telling the page which array of grads to access -->
<!-- The /organizations route, when creating an array that contains all of the orgs, also creates a parallel array in the same order of the orgs that contains the grad Ids associated with that org. So arrayOfGrads[0]  -->
<% let counter = 0;  %>
<% all_orgs.forEach((single_org) => { %>
    
    <div class="content-container-width-70 border-black-1pt">
        <div class="container-whole-width-row container-modification-height-120">
            <h2 class="red-text text-center"><%= single_org.name %></h2>
            <div class="image-organizations-logo">
                <img src="<%= single_org.logo %>" alt="athenahealth logo">
            </div>
            <button type="button" class="collapsible-button">+</button>
        </div>
        <div class="content">
            <div class="container-collapsible-content-orgs">
                <div class="container-collapsible-column">
                    <h4 class="red-text">WHO WORKS HERE</h4>

                    <ul>
                        <!-- Try JSON.parse to get stringified array back to array. Try reviver function. -->
                        
                        
                        <% let grads = arrayOfGrads[counter]; %>
                        
                        <!-- WHY does this do this? It says grads is an array, but then treats it as undefined immediately below. -->
                        <% if (grads != undefined) { %>
                            <% if (grads[0]) { %>
                                <% for (let i=0; i<grads.length; i++) { %>
                                    <% console.log(`nameFunction from ejs: ${nameFunction(grads[i])}`); %>
                                    <li> <%= grads[i] %> </li>
                                <% } %>
                                
                            <% } %>
                            
                        <% }; %>
                       

                        <% counter++; %>
                        
                        
                     
                        
                    </ul>
                    <h4 class="red-text">WHO HAS WORKED HERE</h4>
                    
                    <ul>
                      
                    </ul>
                    <h4 class="red-text">WHO HAS INTERVIEWED HERE</h4>
                    
                    <ul>
                       
                    </ul>
                </div>
                <div class="container-collapsible-column">
                    <h4 class="red-text">INTERVIEWING INSIGHTS</h4>
                    <p>Brief Description of: hiring process | interviewing questions | whiteboard challenge | other relevant information. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                    <button type="button" class="container-organization-card-buttons"><a target="_blank" href="#">SEE OPEN<br>POSITIONS</a></button>
                </div>
            </div>
            <div class="container-collapsible-row">
                <h4 class="red-text text-center">ADD YOURSELF TO THE LISTS ABOVE</h4>
            </div>
            <div class="container-collapsible-row">
                <form action="/addCurrentEmployer" method="POST" onsubmit="return confirm('Do you want to add yourself to the list of people who currently work at this organization?')">
                    <input type="text" style="display: none;" value="<%= single_org._id %>" id="orgId" name="orgId">
                    <input type="submit" class="container-organization-card-buttons" value="I WORK HERE NOW">
                </form>
                <form action="/addPastEmployer" method="POST" onsubmit="return confirm('Do you want to add yourself to the list of people who have worked at this organization in the past?')">
                    <input type="text" style="display: none;" value="<%= single_org._id %>" id="orgId" name="orgId">
                    <input type="submit" class="container-organization-card-buttons" value="I USED TO WORK HERE">
                </form>
                <form action="/addInterviewedOrg" method="POST" onsubmit="return confirm('Do you want to add yourself to the list of people who have interviewed at this organization?')">
                    <input type="text" style="display: none;" value="<%= single_org._id %>" id="orgId" name="orgId">
                    <input type="submit" class="container-organization-card-buttons" value="I INTERVIEWED HERE">
                </form>
            </div>
        </div>
    </div>
<% }); %>