<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
<div class="grad-card-main-container gcard-user-profile" style="padding:25px 10px">
    <div class="grad-card-headshot-contacts-container" style="padding-right:20px">
        <div class="grad-card-headshot" style="margin-left:60px">
            <div class="image-graduates-headshot" style="background-image: url(<%= user.photo %>)"></div>        
        </div>
        <div>
        <br>
        <br>
            <h6 style="margin-left:70px"><b>Contacts</b></h6>
            <br>
            <ul style="list-style:none">
                <li><%= user.email %></li>
                <br>
                <li><%= user.githubUrl %></li>
                <br>
                <li><%= user.linkedinUrl %></li>
                <br>
                <li><%= user.phone %></li>
            
            </ul>
        </div>   
    </div>
    <div class="codesquad-logo-container" style="margin:15px 0 0 20px">
        <button type="button" class="btn btn btn-danger edit-profile-button">
            <a href="/user-profile">Edit Profile</a>
        </button>
        <h4> 
            <%= user.firstName %>
            <%= user.lastName %>
            <br>
            CodeSquad Cohort <%= user.year %>
        </h4>
        <br>
        <br>
        
        <h5><b><%= user.bio %></b></h5>
        <p>Breif Description of what they're doing in the coding world. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        
        <h5><b>Current Employer</b></h5>
        <p><%= user.currentOrg %></p>

        <h5><b>Previous Employers</b></h5>
        <ul>
            <li><%= user.pastOrgs %></li>
        </ul>
        <h5><b>Interviewed With</b></h5>
        <ul>
            <li><%= user.interviewedOrgs %></li>
        </ul>
    </div>
</div>









<%- include('../partials/header')-%>
<!-- Page Content Starts -->

<div class="content-container-whole-page">
    <div class="content-container-width-70"> 
        <h1 class="text-center red-text">THIS IS YOUR PROFILE</h1>
        <p class="black-text font-size-130">
            You are authorized <%= user.email %>
            <br><br>
            <%= user.firstName %>
        </p>
        <a href="/logout">Logout</a>
        <br><br>
    </div>
</div>

<%- include('../partials/footer')-%>
