<!-- Navbar -->
<%- include('../partials/profile-header')-%>
<!-- Page Content Starts -->
<div class="grad-card-main-container gcard-user-profile" style="padding:25px 10px">
    <div class="grad-card-headshot-contacts-container" style="padding-right:20px">
        <div class="grad-card-headshot" style="margin-left:60px">
            <div class="image-graduates-headshot" style="background-image: url(/images/headshot-Angulo.jpeg)"></div>        
        </div>
        <div>
            <div class="grad-card-headshot">
            
            </div>
                <br>
                <br>
                
            <h6 style="margin-left:70px"><b>Contacts</b></h6>
            <br>
            <ul style="list-style:none">
                <li>iangulo@gmail.com</li>
                <br>
                <li>github.com/iangulo</li>
                <br>
                <li>www.linkedin.com/in/iangulo</li>
                <br>
                <li>617-283-4555</li>
            
            </ul>
        </div>
        

    </div>
    <div class="codesquad-logo-container" style="margin:15px 0 0 20px">
        <button type="button" class="btn btn btn-danger edit-profile-button">Edit Profile</button>
        <h4>Irving Angulo</h4>
        <h4>CodeSquad Cohort 2018</h4>
        

        <br>
        <br>
        
        <h5><b>Bio</b></h5>
        <p>Breif Description of what they're doing in the coding world. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        
        <h5><b>Current Employer</b></h5>
        <p>Company Name</p>

        <h5><b>Previous Employers</b></h5>
        <ul>
            <li>Company Names</li>
            <li>Company Names</li>
        </ul>
        <h5><b>Interviewed With</b></h5>
        <ul>
            <li>Company Names</li>
            <li>Company Names</li>
        </ul>
    </div>
</div>









<%- include('../partials/header')-%>
<!-- Page Content Starts -->

<div class="content-container-whole-page">
    <div class="content-container-width-70"> 
        <h1 class="text-center red-text">THIS IS YOUR PROFILE</h1>
        <p class="black-text font-size-130">
            You are authorized <%= user.email %>
            <br><br>
            <%= user.firstName %>
        </p>
        <a href="/logout">Logout</a>
        <br><br>
    </div>
</div>

<%- include('../partials/footer')-%>
