<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
<div class="grad-card-main-container gcard-user-profile" style="padding:25px 10px">
    <div class="grad-card-headshot-contacts-container" style="padding-right:20px">
        <div class="grad-card-headshot" style="margin-left:60px">
            <div class="image-graduates-headshot" style="background-image: url(<%= user.photo %>)"></div>        
        </div>
        <div>
        <br>
        <br>
            <h6 style="margin-left:70px"><b>Contacts</b></h6>
            <br>
            <ul style="list-style:none">
                <li><%= user.email %></li>
                <br>
                <li><%= user.githubUrl %></li>
                <br>
                <li><%= user.linkedinUrl %></li>
                <br>
                <li><%= user.phone %></li>
            
            </ul>
        </div>   
    </div>
    <div class="codesquad-logo-container" style="margin:15px 0 0 20px">
        <button type="button" class="btn btn btn-danger edit-profile-button">
            <a href="/user-profile">Edit Profile</a>
        </button>
        <h4> 
            <%= user.firstName %>
            <%= user.lastName %>
            <br>
            CodeSquad Cohort <%= user.year %>
        </h4>
        <br>
        <br>
        
        <h5><b><%= user.bio %></b></h5>
        <br>        
        <h5><b>Current Employer</b></h5>
        <p><%= user.currentOrg %></p>
        <br>
        <h5><b>Previous Employers</b></h5>
        <p><%= user.pastOrgs %></p>
        <br>
        <h5><b>Interviewed With</b></h5>
        <p><%= user.interviewedOrgs %></p>
    </div>
</div>
<%- include('../partials/footer')-%>
